/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8));
    color: white;
    text-align: center;
    padding: 3rem 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: #ccc;
}

/* Sections */
section {
    padding: 100px 0;
    text-align: center;
}

#about > img {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

section p {
    font-size: 18px;
    color: #666;
}
#projects > h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

/* Projects */
.project {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.project img {
    max-width: 100%;
    margin: 10px 0;
    border-radius: 25px;
}

.project h2 {
    margin-top: 10px;

}

.project p {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
    text-align: justify;
}

.project a {
    display: inline-block;
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border: 1px solid #333;
    border-radius: 25px;
    margin-top: 10px;
}

.project a:hover {
    background-color: #333;
    color: white;
}

form {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    text-align: left;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: none;
}

button {
    color: #007bff;
    border: 1px solid #007bff;
    background-color: transparent;
    padding: 10px 40px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: 25px;
    margin-top: 10px;
    display: inline-block;
}

button:hover {
    background-color: #007bff;
    color: #fff;
}

/* Footer */
footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px 0;
}
